header.main-header
    nav.navi
        a.logo
            img(src="img/logo.svg" alt="Wake Winch")
        ul.menu
            li
                a О нас
            li
                a Блог
            li
                a Команда
            li
                a Контакты